<div
  class="card w-1000"
  style="position: fixed; left: 0; bottom: 0; width: 100% ; background-color: lightblue; ;" 
>
  <div class="card-header" style="margin: auto;">
    <p> </p>
    <footer class="blockquote-footer text-dark"  style="margin-top: 5px; ">
      <cite title="Source Title">Subhankar Saha</cite>
    </footer>
  </div>
</div>
